:root {
    --grey-color: #242424;
    --pink-color: #d12053;
    --green-color: #16b42e;
    --primary-color: #ff7350;
    --secondary-color: #97338b;
    --bkg-color: #ededed;
}

.App-header {
    height: 64px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: var(--grey-color);
}

.App-link {
    color: #fff;

    font-size: 2rem;
    letter-spacing: 0.25rem;

    font-weight: bold;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}
