* {
    margin: 0;
    padding: 0;

    font-family: "Ubuntu", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --grey-color: #242424;
    --pink-color: #d12053;
    --green-color: #16b42e;
    --primary-color: #ff7350;
    --secondary-color: #97338b;
    --bkg-color: #ededed;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}
